@import url("bootstrap/dist/css/bootstrap.min.css");
/* @import url("../node_modules/bootstrap/dist/css/bootstrap.min.css"); */

.list-group-item{
display: flex;
justify-content: space-between;
align-items: center;
}